---
## CSVファイル読み込み DataFrameに保存

In [1]:
import pandas as pd
import numpy as np

csv_encoding = 'Shift_JISx0213'
inputFile = ".\\Data\\05_DateTimeData.csv"

df = pd.read_csv(inputFile,index_col=False, encoding=csv_encoding)
df['ImpDate'] = pd.to_datetime(df['ImpDate'], format='%Y-%m-%d')
display(df.shape)
display(df.head(5))
display(df.dtypes)

(312372, 6)

   ProNum  AnsShNum   SchCode    ImpDate   ImpTime  ClaCode
0       1   1000043  30120231 2019-05-06  13:07:11        0
1       4   1000043  30120231 2019-05-08  13:23:57        0
2       4   1000055  30120231 2019-05-08  13:23:57        0
3       2   1000055  30120231 2019-05-07  13:05:52        0
4       2   1000057  30120231 2019-05-07  13:05:52        0

ProNum               int64
AnsShNum             int64
SchCode              int64
ImpDate     datetime64[ns]
ImpTime             object
ClaCode              int64
dtype: object

---
## ClaCode == 0 のみ抽出

In [2]:
df_Cla0 = df[df["ClaCode"] ==0]
display(df_Cla0.shape)

(292904, 6)

---
## ProNum(1～5)の値でDataFrameを分割

In [3]:
df_p1 = df_Cla0[df_Cla0["ProNum"]==1]
df_p2 = df_Cla0[df_Cla0["ProNum"]==2]
df_p3 = df_Cla0[df_Cla0["ProNum"]==3]
df_p4 = df_Cla0[df_Cla0["ProNum"]==4]
df_p5 = df_Cla0[df_Cla0["ProNum"]==5]
display(df_p1.head(5))

    ProNum  AnsShNum   SchCode    ImpDate   ImpTime  ClaCode
0        1   1000043  30120231 2019-05-06  13:07:11        0
11       1   1000061  30120231 2019-05-06  13:07:11        0
22       1   1000101  30120231 2019-05-06  13:07:11        0
24       1   1000104  30120231 2019-05-06  13:07:11        0
25       1   1000106  30120231 2019-05-06  13:07:11        0

---
## ImpDateでグルーピングし、グルーピングされた行数(count())を保持

In [4]:
df_p1_byDate = df_p1.groupby(["ImpDate"]).count()
df_p2_byDate = df_p2.groupby(["ImpDate"]).count()
df_p3_byDate = df_p3.groupby(["ImpDate"]).count()
df_p4_byDate = df_p4.groupby(["ImpDate"]).count()
df_p5_byDate = df_p5.groupby(["ImpDate"]).count()
display(df_p1_byDate.head(5))

            ProNum  AnsShNum  SchCode  ImpTime  ClaCode
ImpDate
2019-04-23     126       126      126      126      126
2019-04-24     203       203      203      203      203
2019-04-25     332       332      332      332      332
2019-04-26     489       489      489      489      489
2019-04-27     323       323      323      323      323

In [6]:
df_p1_byDate_count = df_p1_byDate[["AnsShNum"]]
display(df_p1_byDate_count.head(5))

            AnsShNum
ImpDate
2019-04-23       126
2019-04-24       203
2019-04-25       332
2019-04-26       489
2019-04-27       323